<div class="container">
  <div class="row">
    <div class="col">
      <h3>Nomadism について ( 概要 )</h3>

      <div class="d-flex justify-content-center my-4">
        <%= image_tag 'about_image.jpg', size: "719x486" %>
      </div>

      <div>
      本ページは、ノマドワーカ向けのカフェや学習スペースの情報を共有するためのコミュニティーサイトです。<br />
      利用者の周辺地域で、学習や仕事をするのに最適な場所がありましたら、是非、投稿をして情報共有していただきますようお願いいたします。<br />
      また、同じ目的を持った人たちでグループを組んだりして、情報交換を活発に行っていただけると幸いです。
      </div>

      <div>
        <h6>■ 対象</h6>
        <ul>
          <li>オフィスや自宅外で作業や学習をしたい人</li>
          <li>自宅だと家族やルームメイトがいたり、近所の音が煩くて集中できない人</li>
          <li>充電しながらSNSを見たりするなど、ゆっくりくつろげる場所を知りたい人</li>
        </ul>
        <p>など、学生から社会人までの幅広い層を対象としています。</p>
      </div>

      <div>
        <h6>■ 使用方法</h6>
        <ul>
          <li>投稿閲覧, 検索, グループ閲覧：誰でも閲覧可能 (※ 会員登録不要 )</li>
          <li>投稿, コメント, グループ作成：会員登録が必要</li>
        </ul>
      </div>

      <p>この機能があったら良いななどありましたら、制作者へお問い合わせください。</p>
    </div>
  </div>
</div>