<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>Nomadism について ( 概要 )</h3>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-center my-3">
          <%= image_tag 'about_image.jpg', size: "480x324" %>
        </div>
      </div>


      <div class="row">
        <div class="col">
          本ページは、ノマドワーカ向けのカフェや学習スペースの情報を共有するためのコミュニティーサイトです。<br />
          利用者の周辺地域で、学習や仕事をするのに最適な場所がありましたら、是非、投稿をして情報共有していただきますようお願いいたします。<br />
          また、同じ目的を持った人たちでグループを組んだりして、情報交換を活発に行っていただけると幸いです。
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <h4>〜 対象 〜</h4>
          <ul class="pl-3">
            <li class="mb-2">オフィスや自宅外で作業や学習をしたい人</li>
            <li class="mb-2">自宅だと家族やルームメイトがいたり、近所の音が煩くて集中できない人</li>
            <li class="mb-2">充電しながらSNSを見たりするなど、ゆっくりくつろげる場所を知りたい人</li>
          </ul>
          <p>など、学生から社会人までの幅広い層を対象としています。</p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <h4>〜 使用方法 〜</h4>
          <ul class="pl-3">
            <li class="mb-2">
              投稿, コメント, グループなどの閲覧：<br />
              &nbsp;→ 誰でも閲覧可能です。ゲストユーザーとしてログインしてください。<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※ 会員登録不要
            </li>
            <li>
              全機能の利用：<br />
              &nbsp;→ 会員登録が必要です。<%= link_to 'こちら', new_user_registration_path %>より会員登録を行なってください。<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;既にアカウントをお持ちでしたら、<%= link_to 'こちら', new_user_session_path %>からログインを行なってください。
            </li>
          </ul>
          <p>この機能があったら良いななどありましたら、制作者へお問い合わせください。</p>
        </div>
      </div>
    </div>
  </div>
</div>