<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center mb-4">
        <%= image_tag 'top_image.jpg', size: "540x540" %>
      </div>

      <div class="d-flex justify-content-center">
        <h2 class="text-align-center">ようこそ Nomadism へ!!</h2>
      </div>

      <h5>新着投稿</h5>

      <div class="d-flex justify-content-end">
        <%= link_to "全ての投稿を見る >", "#" %>
      </div>

    </div>
  </div>
</div>