<div class="container">
  <div class="row my-4">
    <%= render 'public/users/info', user: @user %>

    <div class="col-lg-9 col-md-12">
      <h3 class="page_title"><%= @user.name %>の投稿一覧</h3>

      <%= render 'public/posts/table', posts: @posts %>
    </div>
  </div>
</div>