<div class="container">
  <div class="row my-4">
    <%= render 'public/users/info', user: @user %>

    <div class="col-9">
      <h3><%= @user.name %>さんの投稿一覧</h3>

      <%= render 'public/posts/table', posts: @posts %>
  </div>
</div>
